.image-credits
		%h2 Image Credits
		%p
		= succeed ',' do
 		%a{:href => "link", :target=> '_blank'}x
		= succeed ',' do
		%a{:href => "link", :target=> '_blank'}y
		= succeed '.' do
 		%a{:href => "link", :target=> '_blank'}z
		%p 
			Some of the images on this site were provided via the Creative Commons licensing system, thanks to the following photographers: 
			%a{:href => "https://www.flickr.com/photos/colemama/7907696374", :target=> '_blank'} Marie Coleman (via Flickr),
			%a{:href => "https://www.flickr.com/photos/reabhecc/4955240441", :target=> '_blank'}mebrett (via Flickr),
			%a{:href => "https://www.flickr.com/photos/mcroberts/5174141776/in/album-72157625260862805/", :target=> '_blank'}McRoberts (via Flickr),
			%a{:href => "https://www.flickr.com/photos/yourdon/17005629509", :target=> '_blank'}Ed Yourdon (via Flickr),
			%a{:href => "https://www.flickr.com/photos/chericbaker/6343106668/", :target=> '_blank'}Ed Baker (via Flickr), 
			and
			%a{:href => "http://www.naplesnews.com/", :target=> '_blank'}Naples News.