.main-content.landing
<<<<<<< HEAD
  %h1 Welcome to the<br />COLLIER72 Content Editor
  %p <em>In an emergency, to change the homepage to the<br />Map and Updates page, use the button at the top right.</em>
=======
  %h1 Welcome to the<br />City72 Content Editor
  %p <br />Add your content for each page to create your custom City72 site.
  %p <em>In an emergency, to change the homepage to the<br />Map and Updates page, use the button at the top right.</em>
>>>>>>> 0ac6b25d341246735da47a54bf17e0852f58c6ae
